---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Yehezkiel Dio">
  <div
    class="flex mx-auto max-w-5xl items-center justify-between gap-20 overflow-hidden px-5 py-8 xl:px-0"
  >
    <a class="flex items-center gap-2" href="#">
      <h2 class="hidden text-base font-medium lg:block">Yehezkiel Dio</h2>
    </a>
    <nav
      class="flex max-w-max flex-1 items-center justify-center absolute lg:right-80 z-10 right-1"
    >
      <div class="relative">
        <ul
          class="group flex flex-1 list-none items-center justify-center space-x-1 gap-1"
        >
          <a
            class="group inline-flex h-10 w-max items-center justify-center rounded-md bg-white px-4 py-2 text-sm font-light transition-colors hover:bg-aztec-100 hover:text-aztec-900 focus:bg-aztec-100 focus:text-aztec-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-aztec-100/50 data-[state=open]:bg-aztec-100/50 dark:bg-aztec-950 dark:hover:bg-aztec-800 dark:hover:text-aztec-50 dark:focus:bg-aztec-800 dark:focus:text-aztec-50 dark:data-[active]:bg-aztec-800/50 dark:data-[state=open]:bg-aztec-800/50"
            href="#"
          >
            About
          </a>
          <a
            class="group inline-flex h-10 w-max items-center justify-center rounded-md bg-white px-4 py-2 text-sm font-light transition-colors hover:bg-aztec-100 hover:text-aztec-900 focus:bg-aztec-100 focus:text-aztec-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-aztec-100/50 data-[state=open]:bg-aztec-100/50 dark:bg-aztec-950 dark:hover:bg-aztec-800 dark:hover:text-aztec-50 dark:focus:bg-aztec-800 dark:focus:text-aztec-50 dark:data-[active]:bg-aztec-800/50 dark:data-[state=open]:bg-aztec-800/50"
            href="#"
          >
            Projects
          </a>
          <a
            class="group inline-flex h-10 w-max items-center justify-center rounded-md bg-white px-4 py-2 text-sm font-light transition-colors hover:bg-aztec-100 hover:text-aztec-900 focus:bg-aztec-100 focus:text-aztec-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-aztec-100/50 data-[state=open]:bg-aztec-100/50 dark:bg-aztec-950 dark:hover:bg-aztec-800 dark:hover:text-aztec-50 dark:focus:bg-aztec-800 dark:focus:text-aztec-50 dark:data-[active]:bg-aztec-800/50 dark:data-[state=open]:bg-aztec-800/50"
            href="#"
          >
            Contact
          </a>
        </ul>
      </div>
    </nav>
  </div>
</Layout>
