---
import NavLink from "../components/nav-link.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";
import { languages } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const currentLang = getLangFromUrl(Astro.url);
const otherLanguages: Record<string, string> = {};

for (const key in languages) {
  if (key !== currentLang) {
    otherLanguages[key] = languages[key];
  }
}
---

<div
  class="flex mx-auto max-w-5xl items-center justify-end gap-20 overflow-hidden px-5 py-8 xl:px-0"
>
  <nav
    class="flex max-w-max flex-1 items-rih sm:justify-center z-10 lg:right-1"
  >
    <ul
      class="group flex flex-1 list-none items-center justify-center space-x-1 gap-1 [&>*:last-child]:ml-8"
    >
      {
        Object.entries(otherLanguages).map(([key, value]) => (
          <NavLink title={value} link={translatePath("/", key)} />
        ))
      }
    </ul>
  </nav>
</div>
