---
import NavLink from "../components/nav-link.astro";

interface Props {
  nav: {
    title: string;
    links: {
      title: string;
      href: string;
    }[];
  };
}

const { nav } = Astro.props;
---

<div
  class="flex mx-auto max-w-5xl items-center justify-center lg:justify-between gap-20 overflow-hidden px-5 py-8 xl:px-0"
>
  <a class="hidden items-center gap-2 lg:flex" href="#">
    <h2 class="hidden text-base font-medium lg:block">{nav.title}</h2>
  </a>
  <nav
    class="flex max-w-max flex-1 items-center sm:justify-center z-10 lg:right-1"
  >
    <ul
      class="group flex flex-1 list-none items-center justify-center space-x-1 gap-1 [&>*:last-child]:ml-8"
    >
      {nav.links.map((link) => <NavLink title={link.title} link={link.href} />)}
    </ul>
  </nav>
</div>
